<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.maggie.mapper.CommodityMapper">  <!--指定mapper对应的dao,这样mapper就会实现dao对应的方法-->
    <select id="getCommodityByCmId" resultType="com.newbee.maggie.entity.Commodity"><!--编写sql语句-->
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE cm_id = #{cmId}
	</select>

	<select id="getCmListByUserId" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE user_id = #{userId}
	</select>

	<select id="getCmCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM commodity
	</select>

	<select id="getApprovedCmCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM commodity
		WHERE state = 2
	</select>

	<select id="getCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
	</select>

	<select id="getHigherEducationMegaCenterCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE address = 1
	</select>

	<select id="getWuShanCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE address = 2
	</select>

	<select id="getInternationalCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE address = 3
	</select>

	<select id="getApprovedCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE state = 2
	</select>

	<select id="getCmListBySearching" resultType="com.newbee.maggie.entity.Commodity" parameterType="java.lang.String">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		<if test="keyword != null">
			WHERE name like #{keyword} and state = 2
		</if>
	</select>

	<select id="getCmListBySearchingPriceUp" resultType="com.newbee.maggie.entity.Commodity" parameterType="java.lang.String">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		<if test="keyword != null">
			WHERE name like #{keyword} and state = 2
		</if>
		ORDER BY price
	</select>

	<select id="getCmListBySearchingTimeNew" resultType="com.newbee.maggie.entity.Commodity" parameterType="java.lang.String">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		<if test="keyword != null">
			WHERE name like #{keyword} and state = 2
		</if>
		ORDER BY launch_time
	</select>

	<select id="getCmListBySearchingPriceDown" resultType="com.newbee.maggie.entity.Commodity" parameterType="java.lang.String">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		<if test="keyword != null">
			WHERE name like #{keyword} and state = 2
		</if>
		ORDER BY price DESC
	</select>

	<select id="getCmListBySearchingTimeOld" resultType="com.newbee.maggie.entity.Commodity" parameterType="java.lang.String">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		<if test="keyword != null">
			WHERE name like #{keyword} and state = 2
		</if>
		ORDER BY launch_time DESC
	</select>

	<update id="changeStateToReserved" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 4
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToApproved" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 2
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToWaiting" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 1
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToNotApproved" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 3
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToSold" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 5
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToReported" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 6
		WHERE cm_id = #{cmId}
	</update>

	<update id="changeStateToNull" parameterType="java.lang.Integer">
		UPDATE commodity
		SET state = 7
		WHERE cm_id = #{cmId}
	</update>

	<select id="getReportedCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE state = 6
	</select>

	<select id="getWaitingCmList" resultType="com.newbee.maggie.entity.Commodity">
		SELECT cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state
		FROM commodity
		WHERE state = 1
	</select>

	<insert id="insertCommodity" parameterType="com.newbee.maggie.entity.Commodity"
			keyProperty="cm_id" keyColumn="cm_id" useGeneratedKeys="false">
		INSERT INTO
		commodity(cm_id, name, classify, details, price, user_id, address, picture_url, launch_time, is_new, state)
		VALUES(#{cmId}, #{name}, #{classify}, #{details}, #{price}, #{userId}, #{address}, #{pictureUrl}, #{launchTime}, #{isNew}, #{state})
	</insert>

	<update id="updateCommodity" parameterType="com.newbee.maggie.entity.Commodity"><!-- 不能改cmId，userId和state -->
		UPDATE commodity
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="classify != null">classify = #{classify},</if>
			<if test="details != null">details = #{details},</if>
			<if test="price != null">price = #{price},</if>
			<if test="address != null">address = #{address},</if>
			<if test="pictureUrl != null">picture_url = #{pictureUrl},</if>
			<if test="launchTime != null">launch_time = #{launchTime},</if>
			<if test="isNew != null">is_new = #{isNew}</if>
		</set>
		where cm_id = #{cmId} and user_id = #{userId}
	</update>

	<delete id="deleteCmByCmId" parameterType="java.lang.Integer">
		DELETE FROM
		commodity
		WHERE cm_id = #{cmId}
	</delete>

	<select id="getUserIdByCmId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT user_id
		FROM commodity
		WHERE cm_id = #{cmId}
	</select>
</mapper>