<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.maggie.mapper.UserMapper">  <!--指定mapper对应的dao,这样mapper就会实现dao对应的方法-->
    <select id="getUserByUserName" resultType="com.newbee.maggie.entity.User"><!--编写sql语句-->
		SELECT user_id, session_key, contact_information, nickname, default_shipping_address, grade, authority, open_id
		FROM user
		WHERE nickname = #{nickname}
	</select>

	<select id="getUserByUserId" resultType="com.newbee.maggie.entity.User">
		SELECT user_id, session_key, contact_information, nickname, default_shipping_address, grade, authority, open_id
		FROM user
		WHERE user_id = #{userId}
	</select>

	<select id="getIdCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM user
	</select>

	<select id="getUserIdByOpenId" resultType="java.lang.Integer">
		SELECT user_id
		FROM user
		WHERE open_id = #{openId}
	</select>

	<insert id="insertUser" parameterType="com.newbee.maggie.entity.User"
			keyProperty="user_id" keyColumn="user_id" useGeneratedKeys="true">
		INSERT INTO
		user(user_id, session_key, contact_information, nickname, default_shipping_address, grade, authority, open_id)
		VALUES(#{userId}, #{sessionKey}, #{contactInformation}, #{nickname}, #{defaultShippingAddress}, #{grade}, #{authority}, #{openId})
	</insert>

	<update id="updateUser" parameterType="com.newbee.maggie.entity.User">
		UPDATE user
		<set>
			<if test="grade != null">grade = #{grade},</if>
			<if test="contactInformation != null">contact_information = #{contactInformation},</if>
			<if test="defaultShippingAddress != null">default_shipping_address = #{defaultShippingAddress}</if>
		</set>
		where user_id = #{userId}
	</update>

	<delete id="deleteUserByUserId" parameterType="java.lang.Integer">
		DELETE FROM
		user
		WHERE user_id = #{userId}
	</delete>
</mapper>